{% extends 'base.html.twig' %}
{% block body %}

        <p>
        <h1> Bienvenue sur Sharing games !</h1>
        </p>
        <p>
        <h3> Vous en avez marre de preter des jeux à vos potes sans jamais qu'on vous les rendent ?</h3>
        </p>
        <p>
        <h3>
        Avec Sharing Games vous échangerez vos jeux avec votre interlocuteur plutôt que de simplement les perdre, vous ne reverez pas vos jeux, mais vous ne serez plus le poro de la farce !
        </h3>
        </p>
{% endblock %}
