{% extends 'base.html.twig' %}
{% block body %}

    <p>
    <h1>Rejoignez la communauté Sharing games !</h1>
    <h2>Sharing vous connecte à des milliers de developpeurs amateurs et à leurs créations </h2>
    </p>
    <h1>Inscription</h1>
    {{ form(formSignup) }}
{% endblock %}